 /* #AFB3C0
#5F6478
#FAFAFA */

.card {
    border-radius: 10px;
    border-left: 10px solid pink;
    padding: 20px;
    box-shadow: 0 0 8px 0 rgba(144,149,161,.15);
  }
  h1 {
      color: #ECB8CE;
  }
span {
    color: #AFB3C0 ;
  }
  .avatar {
    border-radius: 50px;
    width: 30px;
    height: 30px;
  }
p {
    color: #5F6478;
}

  img {
      width: 80px;
      height: 80px;
  }