.card {
    border-radius: 10px;
    border-left: 10px solid pink;
    padding: 20px;
    box-shadow: 0 0 8px 0 rgba(144,149,161,.15);
    font-family: 'Nunito', sans-serif;
  }
  .titulo {
      color: #ECB8CE;
  }
  .tipo {
    color: #AFB3C0;
  }
.nombre {
    color: #5F6478;
    font-weight: bold;
  }
  .avatar {
    border-radius: 50px;
    width: 55px;
    height: 55px;
  }
.parrafo {
    color: #5F6478;
}